.speedometer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
}

.spMetercontainer {
    background-color: var(--base-colour);
    display: inline-block;
    border-radius: 4px;
    position: relative;
    width: 100%;
    padding-top: 100%;
    overflow: hidden;
}

@media (min-width: 24rem) {
    .speedometer {
        width: 24rem;
        height: 24rem;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
    }
    
    .spMetercontainer {
        background-color: var(--base-colour);
        display: inline-block;
        border-radius: 4px;
        position: relative;
        width: 24rem;
        height: 24rem;
        overflow: visible;
        padding-top: 0;
    }
}

@media (max-width: 17rem) {
    .speedometer {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
    }
    
    .spMetercontainer {
        background-color: var(--base-colour);
        display: inline-block;
        border-radius: 4px;
        position: relative;
        width: 17rem;
        height: 17rem;
        overflow: hidden;
        padding-top: 0;
    }
}